.main-hero {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-image: url(https://images.unsplash.com/photo-1484256017452-47f3e80eae7c?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.portfolio {
  border-radius: 50%;
  border: 3px solid yellow;
}

.main-footer {
  background-color: #fef250;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
